<nav class="navbar navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="pages/ver" class="nav-link" routerLinkActive="active">
        Ver Horas Extras
        </a>
      </li>
      <li>
        <a routerLink="pages/agregar" class="nav-link" routerLinkActive="active">
          Agregar horas Extras
        </a>
      </li>
    </ul>
  </div>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
